{
    "Water": {
        "density": 750,
        "max_velocity": 3,
        "liquid": 5,
        "colors": ["#0B80AB80"],
        "momentum": true,
    },
    "Sparkly Slime": {
        "density": 845,
        "max_velocity": 2,
        "liquid": 1,
        "colors": [
            "#94B5C7FF",
            "#DEEDABFF",
            "#F0CF66FF",
            "#D6826BFF",
            "#BD4F6BFF",
            "#F05C5EFF"
        ],
        "momentum": true,
        "changes_colors": 0.1
    },
    "Slime": {
        "density": 850,
        "max_velocity": 2,
        "liquid": 1,
        "colors": ["#8FA73980", "#82983480"],
        "momentum": true,
        "changes_colors": 0.01
    },

    "FIRE": {
        "density": 450,
        "max_velocity": 3,
        "gas": 1,
        "colors": [
            "#FF5900FF",
            "#FF9100FF",
            "#FFCF00FF",
            "#C74A05FF"
        ],
        "fire": {
            "burn_radius": 1.5,
            "chance_to_spread": 0.01
        },
        "burning": {
            "duration": 1000,
            "tick_rate": 100
        },
        "burns": {
            "duration": 1000,
            "tick_rate": 100,
            "chance_destroy_per_tick": 0.5,
        }
    },
    "Whiskey": {
        "density": 760,
        "max_velocity": 3,
        "liquid": 5,
        "momentum": true,
        "colors": ["#D6997080"]
    },
    "Blood": {
        "density": 800,
        "max_velocity": 3,
        "liquid": 5,
        "momentum": true,
        "colors": ["#780606"]
    },
    "Oil": {
        "density": 730,
        "max_velocity": 3,
        "liquid": 3,
        "momentum": true,
        "colors": ["#2B1229"],
        "burns": {
            "duration": 5000,
            "tick_rate": 100,
            "chance_destroy_per_tick": 0.1,
            "reaction": {
                "produces": "Smoke",
                "chance_to_produce": 0.035
            },
            "colors": [
                "#FF0000",
                "#FF5900",
                "#FF9900",
                "#FFCF00",
                "#FFE808"
            ],
            "spreads": {
                "burn_radius": 2.,
                "chance_to_spread": 0.2
            }
        }

    },
    "Sand": {
        "density": 1250,
        "max_velocity": 3,
        "movable_solid": true,
        "momentum": true,
        "colors": ["#F2E06B", "#FFEB8A"]
    },
    "Dirt": {
        "density": 1250,
        "max_velocity": 3,
        "movable_solid": true,
        "momentum": true,
        "colors": ["#916B4C", "#73573D"]
    },
    "Snow": {
        "density": 1250,
        "max_velocity": 3,
        "movable_solid": true,
        "momentum": true,
        "colors": ["#EAFDF8", "#FFFFFF"]
    },
    "Steam": {
        "density": 250,
        "max_velocity": 1,
        "gas": 3,
        "colors": ["#C7D6E0", "#EEF2F4"],
        "changes_colors": 0.1,
        "burns": {
            "duration": 200,
            "tick_rate": 100,
            "chance_destroy_per_tick": 1.,
            "reaction": {
                "produces": "Water",
                "chance_to_produce": 1.
            },

        },

    },
    "Smoke": {
        "density": 275,
        "max_velocity": 1,
        "gas": 1,
        "colors": ["#706966", "#858073"],
        "changes_colors": 0.1
    },
    "Flammable Gas": {
        "density": 200,
        "max_velocity": 1,
        "gas": 1,
        "colors": ["#40621880", "#4A731C80"],
        "burns": {
            "duration": 1000,
            "tick_rate": 100,
            "chance_destroy_per_tick": 0.5,
            "colors": [
                "#FF0000",
                "#FF5900",
                "#FF9900",
                "#FFCF00",
                "#FFE808"
            ],
            "spreads": {
                "burn_radius": 2.,
                "chance_to_spread": 1.,
            }
        },
        "changes_colors": 0.1
    },
    "Wall": {
        "wall": true,
        "colors": ["#D1D6D4", "#BDC2C7"]
    },
    "Dirt Wall": {
        "wall": true,
        "colors": ["#916B4C", "#73573D"]
    },
    "Grass Wall": {
        "wall": true,
        "colors": [
            "#5C8730",
            "#3D5C21",
            "#527A2E",
            "#5C8C33",
        ],
        "burns": {
            "duration": 1000,
            "tick_rate": 100,
            "chance_destroy_per_tick": 0.5,
            "reaction": {
                "produces": "FIRE",
                "chance_to_produce": 1.0
            },
            "colors": [
                "#FF0000",
                "#FF5900",
                "#FF9900",
                "#FFCF00",
                "#FFE808"
            ],
            "spreads": {
                "burn_radius": 1.5,
                "chance_to_spread": 1.,
            }
        }
    },
    "Wood Wall": {
        "wall": true,
        "colors": ["#A1662E"],
        "burns": {
            "duration": 10000,
            "tick_rate": 100,
            "chance_destroy_per_tick": 0.0,
            "reaction": {
                "produces": "Smoke",
                "chance_to_produce": 0.035
            },
            "colors": [
                "#FF0000",
                "#FF5900",
                "#FF9900",
                "#FFCF00",
                "#FFE808"
            ],
            "spreads": {
                "burn_radius": 1.5,
                "chance_to_spread": 0.005
            }
        }
    },
    "Rock Wall": {
        "wall": true,
        "colors": [
            "#3B3333",
            "#4A3D3D",
            "#5C4A4A",
            "#665454"
        ]
    },
    "Dense Rock Wall": {
        "wall": true,
        "colors": [
            "#6B738C",
            "#8C96AB",
            "#B2C4D6"
        ]
    },
    "Rock": {
        "density": 1400,
        "max_velocity": 3,
        "solid": true,
        "colors": [
            "#3B3333",
            "#4A3D3D",
            "#5C4A4A",
            "#665454"
        ],
    },
    "Ice Wall": {
        "wall": true,
        "colors": ["#8CDBF880"]
    }
}
