{
    "Water": ParticleData(
        name: "Water",
        density: Some(750),
        max_velocity: Some(3),
        momentum: Some(true),
        liquid: Some(5),
        colors: Some(["#0B80AB80"]),
    ),
    "Sparkly Slime": ParticleData(
        name: "Sparkly Slime",
        density: Some(845),
        max_velocity: Some(2),
        momentum: Some(true),
        liquid: Some(1),
        colors: Some([
            "#94B5C7FF",
            "#DEEDABFF",
            "#F0CF66FF",
            "#D6826BFF",
            "#BD4F6BFF",
            "#F05C5EFF"
        ]),
        changes_colors: Some(0.1),
    ),
    "Slime": ParticleData(
        name: "Slime",
        density: Some(850),
        max_velocity: Some(2),
        momentum: Some(true),
        liquid: Some(1),
        colors: Some(["#8FA73980", "#82983480"]),
        changes_colors: Some(0.01),
    ),
    "FIRE": ParticleData(
        name: "FIRE",
        density: Some(450),
        max_velocity: Some(3),
        gas: Some(1),
        colors: Some([
            "#FF5900FF",
            "#FF9100FF",
            "#FFCF00FF",
            "#C74A05FF"
        ]),
        fire: Some(FireData(
            burn_radius: 1.5,
            chance_to_spread: 0.01,
        )),
        burning: Some(BurningData(
            duration: 1000,
            tick_rate: 100,
        )),
        burns: Some(BurnsData(
            duration: 1000,
            tick_rate: 100,
            chance_destroy_per_tick: Some(0.5),
        )),
    ),
    "Whiskey": ParticleData(
        name: "Whiskey",
        density: Some(760),
        max_velocity: Some(3),
        momentum: Some(true),
        liquid: Some(5),
        colors: Some(["#D6997080"]),
    ),
    "Blood": ParticleData(
        name: "Blood",
        density: Some(800),
        max_velocity: Some(3),
        momentum: Some(true),
        liquid: Some(5),
        colors: Some(["#780606"]),
    ),
    "Oil": ParticleData(
        name: "Oil",
        density: Some(730),
        max_velocity: Some(3),
        momentum: Some(true),
        liquid: Some(3),
        colors: Some(["#2B1229"]),
        burns: Some(BurnsData(
            duration: 5000,
            tick_rate: 100,
            chance_destroy_per_tick: Some(0.1),
            reaction: Some(ReactionData(
                produces: "Smoke",
                chance_to_produce: 0.035,
            )),
            colors: Some([
                "#FF0000",
                "#FF5900",
                "#FF9900",
                "#FFCF00",
                "#FFE808"
            ]),
            spreads: Some(FireData(
                burn_radius: 2.0,
                chance_to_spread: 0.2,
            )),
        )),
    ),
    "Sand": ParticleData(
        name: "Sand",
        density: Some(1250),
        max_velocity: Some(3),
        momentum: Some(true),
        movable_solid: Some(true),
        colors: Some(["#F2E06B", "#FFEB8A"]),
    ),
    "Dirt": ParticleData(
        name: "Dirt",
        density: Some(1250),
        max_velocity: Some(3),
        momentum: Some(true),
        movable_solid: Some(true),
        colors: Some(["#916B4C", "#73573D"]),
    ),
    "Snow": ParticleData(
        name: "Snow",
        density: Some(1250),
        max_velocity: Some(3),
        momentum: Some(true),
        movable_solid: Some(true),
        colors: Some(["#EAFDF8", "#FFFFFF"]),
    ),
    "Steam": ParticleData(
        name: "Steam",
        density: Some(250),
        max_velocity: Some(1),
        gas: Some(3),
        colors: Some(["#C7D6E0", "#EEF2F4"]),
        changes_colors: Some(0.1),
        burns: Some(BurnsData(
            duration: 200,
            tick_rate: 100,
            chance_destroy_per_tick: Some(1.0),
            reaction: Some(ReactionData(
                produces: "Water",
                chance_to_produce: 1.0,
            )),
        )),
    ),
    "Smoke": ParticleData(
        name: "Smoke",
        density: Some(275),
        max_velocity: Some(1),
        gas: Some(1),
        colors: Some(["#706966", "#858073"]),
        changes_colors: Some(0.1),
    ),
    "Flammable Gas": ParticleData(
        name: "Flammable Gas",
        density: Some(200),
        max_velocity: Some(1),
        gas: Some(1),
        colors: Some(["#40621880", "#4A731C80"]),
        changes_colors: Some(0.1),
        burns: Some(BurnsData(
            duration: 1000,
            tick_rate: 100,
            chance_destroy_per_tick: Some(0.5),
            colors: Some([
                "#FF0000",
                "#FF5900",
                "#FF9900",
                "#FFCF00",
                "#FFE808"
            ]),
            spreads: Some(FireData(
                burn_radius: 2.0,
                chance_to_spread: 1.0,
            )),
        )),
    ),
    "Wall": ParticleData(
        name: "Wall",
        wall: Some(true),
        colors: Some(["#D1D6D4", "#BDC2C7"]),
    ),
    "Dirt Wall": ParticleData(
        name: "Dirt Wall",
        wall: Some(true),
        colors: Some(["#916B4C", "#73573D"]),
    ),
    "Grass Wall": ParticleData(
        name: "Grass Wall",
        wall: Some(true),
        colors: Some([
            "#5C8730",
            "#3D5C21",
            "#527A2E",
            "#5C8C33",
        ]),
        burns: Some(BurnsData(
            duration: 1000,
            tick_rate: 100,
            chance_destroy_per_tick: Some(0.5),
            reaction: Some(ReactionData(
                produces: "FIRE",
                chance_to_produce: 1.0,
            )),
            colors: Some([
                "#FF0000",
                "#FF5900",
                "#FF9900",
                "#FFCF00",
                "#FFE808"
            ]),
            spreads: Some(FireData(
                burn_radius: 1.5,
                chance_to_spread: 1.0,
            )),
        )),
    ),
    "Wood Wall": ParticleData(
        name: "Wood Wall",
        wall: Some(true),
        colors: Some(["#A1662E"]),
        burns: Some(BurnsData(
            duration: 10000,
            tick_rate: 100,
            chance_destroy_per_tick: Some(0.0),
            reaction: Some(ReactionData(
                produces: "Smoke",
                chance_to_produce: 0.035,
            )),
            colors: Some([
                "#FF0000",
                "#FF5900",
                "#FF9900",
                "#FFCF00",
                "#FFE808"
            ]),
            spreads: Some(FireData(
                burn_radius: 1.5,
                chance_to_spread: 0.005,
            )),
        )),
    ),
    "Rock Wall": ParticleData(
        name: "Rock Wall",
        wall: Some(true),
        colors: Some([
            "#3B3333",
            "#4A3D3D",
            "#5C4A4A",
            "#665454"
        ]),
    ),
    "Dense Rock Wall": ParticleData(
        name: "Dense Rock Wall",
        wall: Some(true),
        colors: Some([
            "#6B738C",
            "#8C96AB",
            "#B2C4D6"
        ]),
    ),
    "Rock": ParticleData(
        name: "Rock",
        density: Some(1400),
        max_velocity: Some(3),
        solid: Some(true),
        colors: Some([
            "#3B3333",
            "#4A3D3D",
            "#5C4A4A",
            "#665454"
        ]),
    ),
    "Ice Wall": ParticleData(
        name: "Ice Wall",
        wall: Some(true),
        colors: Some(["#8CDBF880"]),
    ),
}